#hero-wrap
  #hero
    - if user_signed_in?
      %p#intro
        Welcome
        = current_user.name
        %br/
        %span.sub-title
          CHM Marketing Portal.
    - else
      %p#intro
        Welcome to the new
        %br/
        %span.sub-title
          CHM Marketing Portal.

.inner-wrap.push  
  %h2.headline Flyers
  %h3.sub-headline= params[:category]
  %ul.flyer-thumb-grid.thumb-grid
    - @flyers.each do |flyer|
      %li 
        .thumb-image-wrapper
          = image_tag flyer.document.url(:medium)
          .thumb-btns 
            .modal
              %label{:for => "modal-#{flyer.id}"}
                .modal-trigger Click for Modal
            = link_to('Download', flyer.document.url(:original, false), :class => "download-btn", :target => "_blank")
        %h2.title= flyer.title
        %p.description
          = flyer.description
          %span
            = flyer.category.name
      = render partial: 'modal', locals: { flyer: flyer }
      
