= image_tag @flyer.document.url(:medium)
= image_tag @flyer.document.url(:large)
= link_to "My document", @flyer.document.url, target: "_blank"
%h1= @flyer.title
%p= @flyer.description
%p= @flyer.user.name

=link_to "Edit", edit_flyer_path(@flyer)
=link_to "Destroy", flyer_path(@flyer), method: :delete, data: { confirm: "Are you sure?"}