<h1>New Article</h1>



<%= form_for :reporting, url:  "create" do |f| %>
    <p>
      <%= f.label :username %><br>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :loan %><br>
      <%= f.text_field :loan %>
    </p>
    <p>
      <%= f.label :borrower %><br>
      <%= f.text_field :borrower %>
    </p>
    <p>
      <%= f.label :funded %><br>
      <%= f.text_field :funded %>
    </p>
    <p>
      <%= f.label :type %><br>
      <%= f.text_field :type %>
    </p>
    <p>
      <%= f.label :subject %><br>
      <%= f.text_field :subject %>
    </p>
    <p>
      <%= f.label :mailing %><br>
      <%= f.text_field :mailing %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>