!!!
%html#ng-app{"ng-app" => "portal", class: "ng-app:app", "xmlns:ng" => "http://angularjs.org"}
  %head
    %title Marketing Portal
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel => "stylesheet", :href => "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    = csrf_meta_tags 
    = typekit 'yis6mrg'
  %body
    %header
      .wrapper.clearfix
        %nav
          - if user_signed_in?
            = link_to current_user.name, edit_user_registration_path
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
            %span{:class => "username_head"}= "Welcome " + current_user.username.titleize
          - else
            = link_to "Sign in", new_user_session_path, class: ""
          - if current_user && current_user.admin?
            - if current_page?(emails_path)
              = link_to "Add New Email Campaign", new_email_path, class: "button"
            - if current_page?(presentations_path)
              = link_to "Add New Presentation", new_presentation_path, class: "button"
            - else
              = link_to "Add New Flyer", new_flyer_path, class: "button"
    %p.notice= notice
    %p.alert= alert
      
    .main
      %aside.column.sidebar
        %ul.navigation
          %li
            #logo= link_to "CHM Marketing Portal", root_path
          %li
            %h3.navigation-header
              Browse
          %li{:class => "#{'active' if current_page?(flyers_path)}"}
            = link_to "Flyers", flyers_path
            - if current_page?(flyers_path) || current_page?(logos_path)
              = render 'page_categories'
          / %li{:class => "#{'active' if current_page?(emails_path)}"}
          /   = link_to "Email Campaigns", emails_path
          /   - if current_page?(emails_path)
          /     = render 'shared/navigation/categories', uploadable_item_type: 'Email', uploadable_item_path: 'emails_path'
          %li{:class => "#{'active' if current_page?(presentations_path)}"}
            = link_to "Presentations", presentations_path
            - if current_page?(presentations_path)
              = render 'shared/navigation/categories', uploadable_item_type: 'Presentation', uploadable_item_path: 'presentations_path'
          %li
            =link_to "Order Business Cards", "https://commercehomemortgage.wufoo.com/forms/xky5j0i0ioeucd/", :target => "_blank" 
        %ul.navigation
          %li#marketing-request
            =mail_to "marketing@commercemtg.com", "Marketing Requests"
        =link_to("Back Up", "javascript:void(0)", :class => "scrollToTop")
      %article.column.content
        = yield
    = render 'footer'


