!!!
%html#ng-app{"ng-app" => "portal", class: "ng-app:app sign-in-wrapper", "xmlns:ng" => "http://angularjs.org"}
  %head
    %title Marketing Portal
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{:rel => "stylesheet", :href => "//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    = csrf_meta_tags 
    = typekit 'yis6mrg'
  %body.sign-in-wrapper
  - if user_signed_in?
    .login-modal-lg
      = yield
  -else
    .login-wrapper.animated.fadeIn
      .login-modal
        = yield
